$("#new_contact").html("<div class= 'success-message' style='padding-top:2%;font-weight: bold; color: #228b22; text-align: center;'>Your message is sent successfully.</div>");
$(".success-message").focus();
